p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

@mixin DefaultLink($color: $blue) {
  @include LinkTransition();
  color: $color;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($color, 10%);
  }

  &:visited {
    color: $color;
  }
}

@mixin BoldText($color: $black, $size: 16px){
  color: $color;
  font-size: $size;
  font-weight: 700;
}

