/* .......COLORS....... */

$white: #fff;
$black: #141414;
$dk-charcoal: #424242;
$charcoal: #727272;
$gray: #a1a1a1;
$border-gray: #e7e7e7;

$red: #e50914;
$red-desaturate: #ea3a42;

$blue: #0914e5;
$blue-desaturate: #3a42ea;

/* .......FONT FAMILIES....... */
$sans-serif: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$serif: Georgia, Times, 'Times New Roman', serif;

